<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TemplateWorld - Artificial Casting</title>
<link href="style.css" rel="assets/images" type="text/css" />
<link rel="icon" href="images/icon.ico" />
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "style" %>
</head>

<body>
<div id="headerbg">
  <div id="headerblank">
    <div id="header">
      <div id="menu">
        <ul>
          <li><a href="#" class="menu">Home</a></li>
          <li><a href="#" class="menu">Overview</a></li>
          <li><a href="#" class="menu">About Us</a></li>
          <li><a href="#" class="menu">Clients</a></li>
          <li><a href="#" class="menu">Contact </a></li>
        </ul>
      </div>
      
      </div>
    </div>
  </div>
</div>
<div id="contentbg">
  <div id="contentblank">
    <div id="content">
      <div id="contentleft">
        <div id="leftheading">
          <h4>News &amp; Updates</h4>
        </div>
        <div class="lefttxtblank">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Pulvinar interdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Etiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Aulvinar gnterdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Stiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Qulvinar snterdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Etiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>
             </div>
      <table>
      <div id="contentmid">
        <%=yield%>
        </div>
       </table> 
      
      </div>
    </div>
  </div>
</div>
<div id="footerbg">
  <div id="footerblank">
    <div id="footer">
      <div id="footerbox">
        <div class="footerheading"><h4>Tempus</h4></div>
        <div class="footertxt">Donec posuere bibendum erat.  commodo consectetuer tellus. Ut ut tellus eget</div>
        <div class="footerbutton"><a href="#" class="button">read more</a></div>
      </div>
      <div id="footermid"><div class="footerheading"><h4>Neque</h4></div>
      <div class="footertxt">Neque nisl porttitor dolor, ut posuere nibh lectus vel pede. Nam non elit.</div>
      <div class="footerbutton"><a href="#" class="button">read more</a></div>
      </div>
      <div id="footerlast">
        <div class="footerheading">
          <h4>Curabitur</h4>
        </div>
        <div class="footertxt">Eque nisl porttitor dolor, ut posuere nibh lectus vel pede. Nam non elit. </div>
        <div class="footerbutton"><a href="#" class="button">read more</a></div>
      </div>
      <div id="footerlinks"><a href="#" class="footerlinks">Home</a> | <a href="#" class="footerlinks">About Us</a> | <a href="#" class="footerlinks">Support</a> | <a href="#" class="footerlinks">Forum</a> | <a href="#" class="footerlinks">Development</a> | <a href="#" class="footerlinks">Conact Us</a></div>
      <div id="copyrights">© Copyright Information Goes Here. All Rights Reserved.</div>
      <div id="designedby">Designed by <a href="http://www.templateworld.com" target="_blank" class="designedby">TemplateWorld</a> and brought to you by <a href="http://www.smashingmagazine.com" target="_blank" class="designedby">SmashingMagazine</a></div>
      <div id="validation"><a href="http://validator.w3.org/check?uri=referer" class="xhtml">xhtml</a><a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">css</a></div>
    </div>
  </div>
</div>
</body>
</html>

